In [11]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
"""

'\nQ1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple\n'

In [2]:
# String
a = "Hello"
print(a)

Hello

In [3]:
#list
l = [1,2,3,4,5,"Data Science","Impact 2.0",True, 2+3j]
print(l)

[1, 2, 3, 4, 5, 'Data Science', 'Impact 2.0', True, (2+3j)]

In [4]:
# float
f = 20.46
print(f)

20.46

In [9]:
# tuple
tup = (1,2,3,4,"ravi", True, 26, "male",1+2j)
print(tup)

(1, 2, 3, 4, 'ravi', True, 26, 'male', (1+2j))

In [74]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.
"""

'\nQ2. Given are some following variables containing data:\n(i) var1 = ‘‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.\nWhat will be the data type of the above given variable.\n'

In [19]:
var1 = ''
type(var1)

str

In [20]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [22]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [23]:
var4 = 1
type(var4)

int

In [24]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
"""

'\nQ3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **\n'

In [25]:
# Use of /
x = 4/2
y = 5/2
print(x) #Division
print(y) #Division

2.0
2.5

In [26]:
# Use of %
z = 5%2 #remainder
print(z)

1

In [27]:
# Use of //
w = 5//3 #floor division
print(w)

1

In [28]:
# Use of **
d = 2**3 #Exponentiation
print(d)

8

In [29]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""

'\nQ4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.\n'

In [31]:
l = [1,2,3,4,5,6,"ravi","verma",True,1+2j]
print(len(l))
print(l)

10
[1, 2, 3, 4, 5, 6, 'ravi', 'verma', True, (1+2j)]

In [40]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
ravi <class 'str'>
verma <class 'str'>
True <class 'bool'>
(1+2j) <class 'complex'>

In [41]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""

'\nQ5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.\n'

In [5]:
A = int(input('Enter number for A:'))
B = int(input('Enter number for B:'))
counter=0
while A%B==0 and A!=0:
    A = A//B
    counter+=1
print("Number of times it can be divisible:",counter)

Enter number for A: 12
Enter number for B: 2

Number of times it can be divisible: 2

In [44]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""

'\nQ6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.\n'

In [2]:
k = list(range(1,26))

In [3]:
print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [54]:
type(k)

list

In [61]:
for m in k:
    if(m%3 == 0):
        print(m,"is divisible by 3")
    else:
        print(m,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [62]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""

'\nQ7. What do you understand about mutable and immutable data types? Give examples for both showing\nthis property.\n'

In [63]:
p = [1,2,3,4,5,6,"ravi","verma",True,1+2j]

In [64]:
p

[1, 2, 3, 4, 5, 6, 'ravi', 'verma', True, (1+2j)]

In [65]:
# Mutable
p[7]=100

In [66]:
p

[1, 2, 3, 4, 5, 6, 'ravi', 100, True, (1+2j)]

In [67]:
# Imutable
s = "ravi"
s

'ravi'

In [68]:
s[2]

'v'

In [73]:
# Immutable
s[2] = 'a'

TypeError: 'str' object does not support item assignment